:root {
    --text1: #0f0f0f;
    --text2: white;
    --background: #ffffff;
    --primary: #155831;
    --secondary1: #d7e4dc;
    --secondary2: #a6ccb6;
    --secondary3: #26532B;
    --accent: #03256C;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Coming Soon", monospace;
    background-color: var(--secondary1);
    min-height: 100%;
    height: auto;
}

.navbar {
    z-index: 6;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    box-shadow: rgba(0,0,0,0.6) 0 3px 10px;
} 

.nav-logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 5vw;
    margin: 10px;
}

.nav-logo > p {
    display: block;
    padding: 15px;
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--text2);
    transition: text-shadow ease-in-out 0.2s 0ms;
}

.nav-logo > p:hover {
    text-shadow: #fc0 1px 0 10px;
}

.nav-list {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-right: 5vw;
}

a {
    text-decoration: none;
    color: var(--text2);
}

.nav-list > a:hover {
    text-shadow: #fc0 1px 0 10px;
}

.nav-list a {
    transition: text-shadow ease-in-out 0.2s 0ms;
    display: block;
    font-size: 2.5em;
    padding: 15px;
}

.header {
    color: var(--text1);
    font-size: 4rem;
}

.text-section {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 4rem;
    text-align: justify;
}

.text-header {
    padding: 2rem 0;
}

.text-section > p {
    margin-bottom: 1rem;
    margin-top: 0;
    color: var(--text1);
    font-size: 2rem;
}

aside {
    font-size: 1.5rem;
    font-style: italic;
    text-align: right;
}

.article-img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
}

.welcome-section {
    height: 100vh;
    width: 100%;
    background-color: var(--secondary1);
    text-align: center;
}

.welcome-header {
    position: relative;
    top: 45%;
}

.welcome-section > p {
    color: var(--text1);
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    top: 45%;
}

.projects-section {
    width: 100%;
    padding: 10rem 2rem;
    background: linear-gradient(
        20deg, 
        var(--secondary2) 0%, 
        var(--secondary1) 100%);
    text-align: center;
}

.projects-header {
    margin-bottom: 2.5rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    grid-gap: 10px;
}

.project-tile {
    background-color: var(--primary);
    border-radius: 2px;
    transition: box-shadow 0.1s ease-in-out 0ms;
    margin: 0;
    padding: 1rem 0;
    font-size: 2.5rem;
}

.project-tile-showcase {
    background-color: var(--primary);
    border-radius: 2px;
    transition: box-shadow 0.1s ease-in-out 0ms;
    margin: 0;
    padding: 1rem 0;
    font-size: 2.5rem;
    height: 30%;
}

.project-tile:hover {
    box-shadow: black 1px 1px 10px;
    /*background-color: var(--primary);*/
}

.project-img {
    object-fit: cover;
    height: calc(100% - 6rem);
    width: 100%;
}

.contact-section {
    background: var(--secondary2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 80vh;
    width: 100%;
}

.contact-header {
    top: 0;
}

.contact-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.btn {
    padding: 1rem 2rem;
}

.contact-button {
    font-size: 2.5rem;
    color: var(--text);
    font-weight: bold;
    transition: text-shadow, transform 0.2s ease-in-out 0ms;
}

.contact-button:hover {
    transform: scale(1.2);
    text-shadow: #fc0 0 5px 10px;
}

footer {
    box-shadow: rgba(0,0,0,0.6) 0 -3px 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: var(--primary);
    font-size: 2rem;
    color: var(--text2);
}

@media (max-width: 600px) {
    
    .navbar {
        position: relative;
    }
    
    .nav-logo {
        padding-left: 0;
        margin: auto;
    }
    
    .nav-logo > p {
        font-size: 1.5em;
    }
    
    .nav-list {
        margin: 5px;
        padding-right: 1em;
    }
    
    .nav-list a {
        font-size: 2em;
    }
    
    .text-header {
        font-size: 3rem;
        padding: 2rem 0;
        text-align: center;
    }
    
    .text-section {
        margin-top: 2rem;
        width: 80%;
    }
    
    .text-section > p {
        font-size: 1.5rem;
    }
    
    .article-img {
        width: 100%;
    }
    
    .welcome-section {
        padding: 0 15px 0 15px;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }
}